apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: three-tier
  labels:
    role: frontend
    env: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      role: frontend
  template:
    metadata:
      labels:
        role: frontend
    spec:
      imagePullSecrets:
      - name: ecr-registry-secret
      containers:
      - name: frontend
        image: 241913669350.dkr.ecr.ap-south-1.amazonaws.com/three-tier-frontend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80   # IMPORTANT!

